<div class="col-sm-3">
  <div class="left-sidebar">
    <h2>Catálogo</h2>
    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
      {{#search-form afterSearch="afterSearchProduct"}}
      {{/search-form}}
      <br />
      {{#each model.categories as |category|}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a href="/category/{{category.id}}">{{category.category_name}}</a>
              {{#if (gt category.subcategories.length 0)}}
                <a data-toggle="collapse" data-parent="#accordian" href="#sportswear{{category.id}}">
                  <span class="pull-right"><i class="fa fa-sort-desc"></i></span>
                </a>
              {{/if}}

            </h4>
          </div>
          <div id="sportswear{{category.id}}" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                {{#each category.subcategories as |subcategory|}}
                  <li><a href="/subcategory/{{subcategory.id}}">{{subcategory.subcategory_name}}</a></li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
    </div><!--/category-products-->

    <div class="container-fluid"><!--shipping-->
      <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {{#each model.publicities as |publicity index|}}
              {{#if (eq index 0)}}
                <div class="item active">
                  <img src="http://192.241.176.123/{{publicity.slide_picture}}" class=" img-move" />
                </div>
              {{else}}
                <div class="item">
                  <img src="http://192.241.176.123/{{publicity.slide_picture}}" class="img-move" />
                </div>
              {{/if}}
            {{/each}}
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div><!--/shipping-->

    <br />

    <div class="brands_products"><!--brands_products-->
      <h2>Fabricantes</h2>
      <div class="brands-name">
          <ul class="nav nav-pills nav-stacked">
            {{#each model.manufacturers as |manufacturer|}}
              <li>
                <a href="http://{{manufacturer.manu_url}}" target="_blank">
                  <center>
                    <img src="http://192.241.176.123/{{manufacturer.manufacturer_logo}}">
                  </center>
                </a>
              </li>
            {{/each}}
          </ul>
      </div>
    </div><!--/brands_products-->
  </div>
</div>


<div class="col-sm-9 padding-right">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="features_items"><!--features_items-->
      <h2 class="title text-center">Categorías</h2>
        {{#each model.categories as |category index|}}
          <a href="/category/{{category.id}}">
            <div class="col-sm-3 col-md-3 col-lg-3 ">
              <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="http://192.241.176.123/{{category.picture}}" />
                        <h4>{{category.category_name}}</h4>
                        <p>{{category.category_description}}</p>
                    </div>
                </div>
              </div>
            </div>
          </a>
          {{#if (or (eq index 3) (eq index 7) (eq index 11))}}
            <div class="clear"></div>
          {{/if}}
        {{/each}}
    </div>
  </div>
</div>

<div class="col-sm-3"></div>

<div class="col-sm-9 padding-right">
  <div class="recommended_items"><!--recommended_items-->
    <h2 class="title text-center">Productos en Oferta</h2>

    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item2 active">
          {{#each model.variants_discount as |variant index|}}
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center">
                    <img src="http://192.241.176.123/{{variant.picture}}" class="img-responsive img-center" />
                    <h4>{{variant.name}}</h4>
                    <h5 style="color:red;"><strike>Bs. {{variant.variant_sell_price}}</strike></h5>
                    <h5>Bs. {{variant.promotion_price}}</h5>
                    <p>{{variant.variant_color}}</p>
                    <a class="btn btn-default add-to-cart" {{action "addToCart" variant}}>Añadir al carrito</a>
                  </div>

                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
       <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
        </a>
        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
        </a>
    </div>
  </div><!--/recommended_items-->



</div>
